@import " ../../../../../styles/breakpoints.scss";

.listaYouTube {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px
}
.titulo {
  color: #fff;
}

@media(max-width: $mobile) {
  .listaYouTube {
    flex-direction: column;
  }
}