@import " ../../../../../styles/breakpoints.scss";

.listaYouTube {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 10px;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  margin: 20px 0;
}
.titulo {
  color: #fff;
}

@media(max-width: $mobile) {
  .listaYouTube {
    flex-direction: column;
  }
}