@import "../../../styles/breakpoints.scss";

.bannerSumate {
  margin: 20px 0 20px 0;
}

.imagenContainer {
display: flex;
justify-content: center;
}

@include media(mobile) {
  .imagenContainer {
    img {
    width: 100%;
  }
  }
}

@include media(tablet) {
  .imagenContainer {
    img {
    width: 100%;
  }
  }
}
