@import "../../../styles/breakpoints.scss";

.bannerSumate {
  margin: 20px 0 20px 0;
}

.imagenContainer {
display: flex;
justify-content: center;
}

@include media(mobile) {
  .bannerSumate {
    display: none;
  }
}

