.redes {
  display: flex;
  margin: 0;
  max-width: 1200px;
  padding: 10px 0px 10px 0;
  gap: 5px;
  li {
      list-style: none;
      a {
          text-decoration: none;
          color: white;
      }
  }
}