@import "../../../styles/breakpoints.scss";

.bannerAuditoriasWeb {
  margin: 20px 0 20px 0;
}

.imagenContainer {
display: flex;
justify-content: center;
  img {
    width: 100%;
  }
  cursor: pointer;
}

.texto {
  background-color: #E51A1F;
  color: #FFF;
  text-align: center;
  font-size: 60px;
  margin-top: 0;
  font-family: "Roboto";
  cursor: pointer;
}
.texto:hover {
  background-color: rgb(160, 8, 8);
}

@include media(mobile) {
  .bannerAuditoriasWeb {
    display: none;
  }
}

@include media(tablet) {
  .imagenContainer {
    img {
    width: 100%;
  }
  }
  .texto {
    display: block;
    background-color: #E51A1F;
    color: #FFF;
    text-align: center;
    font-size: 25px;
    margin-top: 0;
    font-family: "Roboto";
  }
}