@import "../../../styles/breakpoints.scss";

.formContainer {
  background-color: #fff;
  border-radius: 10px;
  margin: auto;
  width: 600px;
  display: flex;
  justify-content: center;

  iframe {
    width: 100%;
  }
}

@include media(mobile) {
  .formContainer {
    width: auto;
}

}