@import "../../../styles/breakpoints.scss";

.suplePolo {
  display: grid;
  grid-template-columns: 2fr repeat(2, 1fr);
  grid-template-rows: repeat (2, 2fr);  
  margin: 0px 0 20px 0;
}

@include media(mobile) {
  .suplePolo {
    display: block;
  }
}

