@import "../../../styles/breakpoints.scss";

.contactos {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    padding: 0;
}

.contactos ul {
    list-style: none;
    border-bottom: solid 0.5px rgb(161, 161, 161);
    margin: 0;
}

.region {
    font-weight: bold;
    margin: 10px 0 10px 0;
    font-size: 18px;
}

.telefono {
    font-size: 18px;
    gap: 5px;
    display: flex;
}

.telefono a {
    color: red;
}

.telefono:hover {
    text-decoration: underline;
}

@include media(mobile) {
    .listaContactos {
        font-size: 14px;
        padding: 0;
    }
    .region {
        font-size: 15px;
    }
    .telefono {
        font-size: 15px;
    }
    #santaCruz{
    display: grid;
    gap: 10px;
    grid-template-rows: 20px 10px 10px 5px 10px;
    }
}

@include media(tablet) {


    .listaContactos {
        font-size: 15px;
        padding: 0;
    }
    #santaCruz{
        display: grid;
        gap: 10px;
        grid-template-rows: 20px 10px 10px 5px 10px;
        }
}