.notas3Principales {
  display: grid;
  grid-template-columns: 60% 40%;
  margin: 10px 0 10px 0;
  
}

@media(max-width:600px) {
  .notas3Principales {
    display: block;
    grid-template-columns: none;
  }
}

