@import "../../../styles/colors.scss";
@import "../../../styles/breakpoints.scss";

.active {
  -webkit-line-clamp: 20;
  overflow: hidden;
}

.verMas {
  display: none;
}

.banner {
 display: grid;
 grid-template-columns: repeat(3,minmax(0,1fr));
 border-top: 1px;
  color: $color-secondary;
  margin: 20px 0 20px 0;
}

.texto {
  grid-column: 1 / span 2;
  margin: 0;
}

.titulo {
  color: $color-secondary;
  font-size: 20px;
  margin-bottom: 0;
  padding: 10px;
}

.data {
  color: $color-secondary;
  font-size: 17px;
  padding: 10px;
}

.imagen {
  grid-column: 3 / span 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  img {
    max-height: 400px;
  }
}

.comprar {

  display: block ;
  text-align: center;
  margin: auto;
  width: 100px;
  padding: 10px;
  border-radius: 20px;
  background-color: transparent;
  font-size: 17px;
  color: $color-secondary;
  border-color: $color-secondary;
  border-style: solid;
}

.comprar:hover {
  background-color:rgb(255, 255, 255);
  color: $color-primary;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  
  
}


@media(max-width: $mobile) {
  .banner {
    display:block;
  }
  .data {
    margin-top: 0;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: auto;
    -webkit-box-orient: vertical;
    margin:10px;
    padding: 0;   
  }
  .comprar {
    display: flex;
    justify-content: center;
  }
  .imagen {
    margin: 20px;
  }
  .verMas {
    display: block ;
    margin: auto;
    padding: 10px;
    border-radius: 20px;
  }
}