@import "../../../styles/colors.scss";

.banner {
 display: grid;
 grid-template-columns: repeat(3,minmax(0,1fr));
 box-shadow: 0 0 0 1px;
  color: $color-secondary;
  margin: 20px 0 20px 0;
}

.texto {
  grid-column: 1 / span 2;
  padding: 10px;
}

.titulo {
  color: $color-secondary;
  font-size: 20px;
  margin-bottom: 0;
  

}

.data {
  color: $color-secondary;
  font-size: 15px;
}

.imagen {
  grid-column: 3 / span 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  img {
    max-height: 400px;
  }
}