@import "../../../styles/breakpoints.scss";

.tapaSuplePolo {
  display: none;
  margin: 20px 0 20px 0;
}

.imagenContainer {
display: flex;
justify-content: center;
  img {
    width: 100%;
  }
}

@include media(mobile) {
  .tapaSuplePolo {
    display: flex;
  }
}

@include media(tablet) {
  .imagenContainer {
    img {
    width: 100%;
  }
  }
}
