@import "../styles/colors.scss";
@import "../styles/breakpoints.scss";

.paginaNoEncontrada {
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-align-last: center;
    font-weight: 700;
}

.volver {
    font-size: 15px;
    color: rgb(255, 255, 255);
    text-align-last: center;
}

.volver:hover {
    text-decoration: underline;
    color: red;
}

@include media(mobile) {
    .paginaNoEncontrada {
        font-size: 20px;
        text-align-last: center;
        font-weight: 700;
    }
    .volver {
        font-size: 15px;
        text-align-last: center;
    }
}

@include media(tablet) {
    .paginaNoEncontrada {
        font-size: 20px;
        text-align-last: center;
        font-weight: 700;
    }
    .volver {
        font-size: 15px;
        text-align-last: center;
    }
}