@import "./colors.scss";
@import "./breakpoints.scss";

.contenedor{
    background-color: #F0F0F0;
    margin: 10px 0;
    padding: 20px;
    
    .titulo {
        text-align: center;
    }
    .link {
        text-decoration: underline;
        font-weight: 800;
    }
}
.banner {
    width: 100%;
    max-width: 100% !important;
    display: block;
    margin: auto;
}


@include media(mobile) {
    .contenedor {
        font-size: 15px;

        h3 {
        font-size: 17px;
        margin-bottom: 5px;
        }
    }

    .p {
        margin: auto;
    }
}

@include media(tablet) {
    .contenedor {
        font-size: 15px;
        h3 {
        font-size: 17px;
        margin-bottom: 5px;
        }
    }
    .p {
        margin: auto;
    }
    
}