@import "./colors.scss";
@import "./breakpoints.scss";

.titulo {
  color: $color-secondary;
  text-align: center;
}
.texto{
  color: $color-secondary;
}

@include media(mobile) {
  .titulo {
    color: $color-primary;
    text-align: center;
    font-size: 20px;
    margin: 0 0 10px 0;
    padding: 12px;
    background-color: $color-secondary;
}
}