@import "./colors.scss";
@import "./breakpoints.scss";

.titulo {
  color: #FFF;
  text-align: center;
  padding: 10px;
  font-family: 'Kanit', sans-serif; 
  font-size: 23px;
  margin: 0;
  letter-spacing: 1px;
}
.texto{
  color: $color-secondary;
}
.form {
  width: 100%;
  height: 500px;
  border:none;}
  
@include media(mobile) {
  .titulo {
    font-size: 1rem;
}
}