@import "./colors.scss";
@import "./breakpoints.scss";

.containerTitulo {
  display:flex;
  justify-content: center;
}
.titulo {
  color: #FFF;
  text-align: center;
  padding: 10px;
  width: 35%;
  font-family: 'Kanit', sans-serif; 
  font-size: 23px;
  margin: 0;
  border-bottom: solid 1px;
  letter-spacing: 1px;
}

@include media(mobile) {
  .titulo {
    width: 60%;
    font-size: 1.1rem;
    border-bottom: solid 1px;
    letter-spacing: 1px;
}
}