@import "./styles/colors.scss";
@import "./breakpoints.scss";
  
  @keyframes blur {
    0%   {
      filter: blur(10px);
      opacity: 0;
      top: -50px;
    }
    100%  {
      filter: blur(0px);
      opacity: 1;
      top: 0;
    }
  }

.ultimasNoticias {
    display: grid;
    grid-template-columns: repeat(3,minmax(0,1fr));
    grid-template-rows: repeat (3,minmax(0,1fr));
    gap: 10px;
    margin-bottom: 20px;
}

.titulo {
    color: $color-primary;
    text-align: center;
    font-size: 30px;
    padding: 20px;
    margin: 0 0 20px 0;
    animation: blur 1s ease-in-out 1;
    transition: all 0.2s ease-in-out;
    font-family: roc-grotesk, sans-serif;
}

.contenedorTitulo {
    background-color: $color-secondary;
}

@include media(mobile) {
  .ultimasNoticias{
    display: block;
  }
  .titulo {
    color: $color-primary;
    text-align: center;
    font-size: 20px;
    margin: 0 0 10px 0;
    padding: 12px;
}


  .contenedorTitulo {
    background-color: $color-secondary;
}

img {
  width: 100%;
}
}