@import "../../../styles/colors.scss";
@import "../../../styles/breakpoints.scss";

.header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: $color-primary;
    color: $color-secondary;
    padding: 1rem 0;
    align-items: center;
    justify-content: space-between;
    .menu {
        grid-column: span 2/span 2;
    }
    .logo {
        grid-column: span 8/span 8;
        text-align: center;
    }
    .redes {
        grid-column: span 2/span 2;
        .btnRedes {
            display: flex;
            gap: 20px;
        }
    }
}

@include media(mobile) {
    .header {
        display: flex;
        justify-content: space-between;
        .logo { 
            text-align: center;
            svg {
                width: 235px;
                height: 40px; 
            }
        }    
    }
}

@include media(tablet) {
    .header {
        display: flex;
        justify-content: space-between;
        .logo { 
            text-align: center;
        }    
    }
}