@import "../../../styles/colors.scss";
@import "../../../styles/breakpoints.scss";

.header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: $color-primary;
    color: $color-secondary;
    padding: 1rem 0;
    align-items: center;
    justify-content: space-between;
    .menu {
        grid-column: span 1/span 1;
    }
    .buscador {
        grid-column: span 2/ span 2;
    }
    .lupaHeader {
        position: absolute;
        top: 50%;
        margin-left: 17px;
        margin-top: 17px;
        z-index: 1;
    }
    .logo {
        grid-column: span 6/span 6;
        text-align: center;
    }
    .redes {
        grid-column: span 1/span 1;
    }
    .btnSumate {
        grid-column: span 1/ span 1;
        display: flex;
        gap: 20px;
    }
    .btnBuscador {
        border:none;
        background: none;
        cursor:pointer;
        position: absolute;
        top: 40%;
        margin-left: 170px;
        z-index: 1;
    }
    .buscadorHeader {
        padding: 8px;
        font-size:15px;
      }
    .containerBuscador {
        display: flex;
        align-items:center;
        justify-content: center;
        }
}

@include media(mobile) {
    .header {
        
        .logo { 
            text-align: center;
            svg {
                width: 235px;
                height: 40px; 
            }
        }    
    }
    .redes {
        display: none;
    }
}

@include media(tablet) {
    .header {
       
        .logo { 
            text-align: center;
        }    
    }
}